

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    
    
    
}

.roboto-slab-h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 373;
  font-style: normal;
}


p{
    font-size: 1.8rem;
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 500;
     
}
html{
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --background-color: #000000;
    --main-color: #fbff00;
    --secondary-color: #ff8623;
    --text-color: #ff0000;
}

body {
    
    background-color: var(--background-color);
    background-image: url('ds3bg4.png');
    background-size: 100% 100%;
    
    color: var(--text-color);

}

.header {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background-color: #00000000;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

}

/* COLLAPSE HEADER */
.header.collapsed {
  transform: translateY(-80%);
}
/* TOGGLE BUTTON */
.Hide-header {
  position:absolute;

  bottom:-20px;
  right:50%;

  padding:8px 14px;

  border:none;
  border-radius:6px;

  background:#444;
  color:white;

  cursor:pointer;
}




.logo {
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    
}
.logo:hover{
    transform: scale(1.1);
    color: var(--main-color);
}
span {
    background: linear-gradient(270deg,
     var(--main-color)10%,
      var(--secondary-color)75%);
      background-clip: text;
      color: transparent;
    
    
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 800;
    transition: 0.3s, ease-in-out;
    border-bottom: transparent 2px solid;

    
}

.navbar a:hover {
    border-bottom: var(--secondary-color) 2px solid  ;
    color: var(--main-color);
}

.about {
    padding: 30rem 7% 15rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.about-content {
    flex: 1;
    text-align: center;
}
.about-content h1{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}
.about-content p{
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 1.5;
}
.about-image {
    flex: 0.3;
    object-fit: cover;
    
    border: 7px solid var(--secondary-color);
    border-radius: 50%;
    transition: border 0.5s ease-in-out;
}
.about-image img{
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.vid video {
    width: 100%;
    height: auto;
    border: 7px solid var(--main-color);
    border-radius: 10px;
    transition: border 0.5s ease-in-out;
}
.vid h1 {
    font-size: 3rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    text-align: center;
}
.goals {
    padding: 15rem 7% 15rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goals-content h1{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}
.goals-content p{
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 1.5;
}
.goals-image {
    flex: 0.15;
    display: flex;
    background-color: #000000;
   border: 9px solid #000000;
   margin-right: 0rem;
    border-radius: 10px;
    transition: border 0.5s ease-in-out;
    justify-content: space-between;
    
}


.goals-content {
    flex: 1;
    margin-left: 13rem;
    margin-right: 13rem;
    text-align: center;
}

.skills {
    padding: 15rem 7% 15rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-content {
    flex: 1;
    margin-left: 13rem;
    margin-right: 13rem;
    text-align: center;
   
}
.skills-content h1{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 0em;
    border-bottom: var(--secondary-color) 5px solid;
    
}
.skills-content p{
    margin-top: 4rem;
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 1.5;
    
}

.projects {
    padding: 15rem 7% 15rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}


.projects-buttons {
    padding: 1rem 2rem;
    border: 2px solid var(--main-color);
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 800;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease,
     border-color 0.3s ease;
}
.projects-buttons:hover{
    background-color: red;
    color: black;
    border-color: var(--secondary-color);
    transform: scale(1.2);
}
.projects-buttons button.active,
.projects-buttons button:focus-visible {
    background-color: var(--main-color);
    border-color: var(--secondary-color);

}
.projects-buttons-container {
    display: flex;
    justify-content: center;
}
.projects-completed,
.projects-in-progress {
    display: none;
}
.projects-completed.active,
.projects-in-progress.active {
    display: block;
}
.projects-content {
    flex: 1;
    margin-left: 13rem;
    margin-right: 13rem;
    text-align: center;
}
.projects-content h1{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 0em;
    border-bottom: var(--secondary-color) 5px solid;
    
}
.projects-content p{
    margin-top: 4rem;
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 1.5;
    
}
.projects-completed{
    
    display: flex;
    justify-content: space-between;
    display: none;
}
.prototype-content {
    flex: 1;
    margin-left: 13rem;
    margin-right: 13rem;
    text-align: center;
    justify-content: center;
    
}
.prototype-img {
    margin-top: 4rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prototype-img img {
    width: 50%;
    height: auto;
    align-self: center;
    border: 7px solid var(--main-color);
    border-radius: 10px;
    
}
.projects-in-progress {
    display: flex;
    justify-content: space-between;
     display: none;
}
.projects-in-progress-content1{
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    
}

.projects-in-progress-content2{
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    
}

#contact {
  text-align: center;
  padding: 50px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-links a {
  text-decoration: none;
  color: var(--main-color);
  background: #222;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.contact-links a:hover {
  background: #444;
  transform: scale(1.05);
}

.contact-links i {
  margin-right: 8px;
}

@media (max-width: 768px) {

    .header {
        padding: 2rem 5%;
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
    }
    body{
        background-size: cover;
    background-position: center;
    }
    .navbar a {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
    .logo {
        font-size: 2.5rem;
    }
    .Hide-header {
        bottom: -30px;
        right:40%;
        padding: 6px 12px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .about, .goals, .skills, .projects {
        flex-direction: column;
        padding: 10rem 5% 10rem 5%;
    }
    .goals-content {
        margin-left: 0;
        margin-right: 0;
    }
    .about-image img{
       max-width: auto;
       
       justify-content: center;
    }
    .skills-content {
        margin-left: 0;
        margin-right: 0;
    }
    .goals-image img {
        max-width: auto;
        width: 60%;
       justify-content: center;

    }
    .prototype-img img {
        width: 100%;
    }
}
